	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="layout::head">
		<title>About</title>
	</head>
		<body>	
			  <header th:replace="layout::header" >
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start video Area -->
			<section class="video-area pt-100">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8">
							<div class="about-video-right justify-content-center align-items-center d-flex relative">
								<div class="overlay overlay-bg"></div>
								<a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="/assets/img/play-btn.png" alt=""></a>
							</div>
							<div class="description">
								<h4>Watch this video how they live here</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
								</p>								
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End video Area -->


			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center">	
						<div class="col-lg-6 home-about-left no-padding">
							<img src="/assets/img/about-img.jpg" alt="">
						</div>
						<div class="col-lg-6 home-about-right no-padding">
							<h1>
								Globally Connected
								by Large Network
							</h1>
							<h5>We are here to listen from you deliver exellence</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
							</p>
							<a href="#" class="primary-btn text-uppercase">get details</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

			<!-- Start testomial Area -->
			<section class="testomial-area section-gap" id="testimonail">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Testimonials from our guardians</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-testimonial-carusel">
							<th:block th:each="myteam : ${myTeams}">
								<div class="single-testimonial item">
									<img class="mx-auto" th:src="${myteam.getImage()}" height="80px" th:width="80px" alt="">
									<p class="desc" th:text="${myteam.description}"></p>
									<h4 th:text="${myteam.name}"></h4>
									<p th:text="${myteam.position}"></p>
								</div>
							</th:block>
						</div>
					</div>
				</div>	
			</section>
			<!-- End testomial Area -->		

			<!-- Start calltoaction Area -->
			<section class="calltoaction-area section-gap relative">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
										
					<div class="row align-items-center justify-content-center">
						<h1 class="text-white">Poopet is here to Support Every<br>
							Aspect of your Pet’s Life
						</h1>
							<h5>Looking for proessional groomer or trainer?</h5>
						<div class="buttons d-flex flex-row">
							<a href="/contact" class="primary-btn text-uppercase">Contact Us</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End calltoaction Area -->													
				
			<!-- start footer Area -->		
			<footer th:replace="layout::footer">
			</footer>
			<!-- End footer Area -->

			  <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			  <script src="/assets/js/vendor/bootstrap.min.js"></script>
			  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			  <script src="/assets/js/easing.min.js"></script>
			  <script src="/assets/js/hoverIntent.js"></script>
			  <script src="/assets/js/superfish.min.js"></script>
			  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
			  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
			  <script src="/assets/js/owl.carousel.min.js"></script>
			  <script src="/assets/js/jquery.nice-select.min.js"></script>
			  <script src="/assets/js/mail-script.js"></script>
			  <script src="/assets/js/main.js"></script>
		</body>
	</html>