	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout::head">

		<title>Dogs</title></head>
		<body>
			  <header th:replace="layout::header">
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Dogs				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="dogs.html"> dogs</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	
				
			<!-- Start cat-list Area -->
			<section class="cat-list-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg1.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg2.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg3.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg4.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>	
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg5.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg6.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg7.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-cat-list">
							  <img src="/assets/img/dg8.jpg" alt="" class="img-fluid">
							  <div class="overlay">
							    <div class="text">Siamese Dog</div>
							  </div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End cat-list Area -->
					
			<s
			<!-- Start calltoaction Area -->
			<section class="calltoaction-area section-gap relative">
				<div class="container">
					<div class="overlay overlay-bg"></div>						
					<div class="row align-items-center justify-content-center">
						<h1 class="text-white">Want to help? Become a Volunteer</h1>
						<p class="text-white">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						</p>
						<div class="buttons d-flex flex-row">
							<a href="#" class="primary-btn text-uppercase">View pdf details</a>
							<a href="#" class="primary-btn text-uppercase">Register now</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End calltoaction Area -->													
				
			<!-- start footer Area -->		
			<footer th:replace="layout::footer">
			</footer>
			<!-- End footer Area -->

			  <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
			  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			  <script src="/assets/js/vendor/bootstrap.min.js"></script>
			  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			  <script src="/assets/js/easing.min.js"></script>
			  <script src="/assets/js/hoverIntent.js"></script>
			  <script src="/assets/js/superfish.min.js"></script>
			  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
			  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
			  <script src="/assets/js/owl.carousel.min.js"></script>
			  <script src="/assets/js/jquery.nice-select.min.js"></script>
			  <script src="/assets/js/mail-script.js"></script>
			  <script src="/assets/js/main.js"></script>
		</body>
	</html>